figure {
  margin: 10px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  border: 3px solid black;
}

.image__caption {
  padding: 1rem 2rem;
}

.main-content {
  width: min(90vw, 80ch);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
